.css-1065ajr-MuiTypography-root {
    margin: 0;
    font-family: 'Poppins' !important;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 0.35em;
    color: #095192;
    font-weight: 600;
}

.css-1s1q0ch-MuiTypography-root {
    margin: 0;
    font-family: 'Poppins' !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 0.35em;
    color: #095192;
    font-weight: 600;
    margin-bottom: 32px;
}