.css-2s8ubb-MuiFormHelperText-root
 {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Public Sans' !important;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    /* margin-top: 4px; */
    /* margin-left: 14px; */
    /* margin-right: 14px; */
}

.css-2s8ubb-MuiFormHelperText-root {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Public Sans' !important;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 14px;
}

.css-18e3kiu-MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 0em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
    font-size: 12px;
}