.rs-input-group-lg>.rs-input {
    font-size: 12px !important; 
    line-height: 1.375;
    padding: 9px 11px;
}

.rs-input-group.rs-input-group-inside {
    background-color: #fff;
    background-color: var(--rs-input-bg);
    width: 100%;
    height: 38px !important;
}

.rs-picker-popup.rs-picker-popup-daterange {
    padding: 0;
    top: 220px !important;
    left: 613px !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    /* background-color: #3498ff; */
    /* background-color: var(--rs-bg-active); */
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    color: var(--rs-calendar-date-selected-text);
    background-color: #11395C !important;
}

.rs-btn-primary {
    /* background-color: #3498ff; */
    /* background-color: var(--rs-btn-primary-bg); */
    border: none;
    color: #fff;
    color: var(--rs-btn-primary-text);
    background-color: #11395C !important;
}

.rs-btn-link {
    background-color: transparent;
    border: none;
    /* color: #1675e0; */
    /* color: var(--rs-btn-link-text); */
    color: #11395C !important;
}