
.modal {
	&.zoomIn {
		.modal-dialog {
			opacity: 0 !important;
			transform: scale(.7) !important;
			transition: all .3s ease !important;
		}

		&.show {
			.modal-dialog {
				opacity: 1 !important;
				transform: scale(1) !important
			}
		}
	}
}

.custom-modal-content {
	max-height: 70vh !important;
	width: 800px !important;
  }
  
  .modal-body-custom {
	display: flex;
	flex-direction: row;
	/* gap: 1px; */
	overflow-y: auto;
	min-height: 100px;
	width: 795px !important;
	
  }
  
  .question-box {
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
  }

.modal-footer {
	background-color: #f0f0f0 !important;
}




  



