@media (max-width: 768px) {
    .card-body details-card {
      flex: 0 0 50% !important;
      border-left: none !important;
    }
  }
  
  @media (max-width: 480px) {
    .card-body details-card {
      flex: 0 0 100% !important;
      border-left: none !important;
    }
  }
  
  .card-body details-card:first-child {
    border-left: none !important;
  }

  .box-content {
    border-left: 1px solid #B2BEB5;
    font-weight: bold;
    font-size: 16px;
    font-family: "Poppins";
  }
  .user-info {
    color: rgb(119, 119, 119);
    font-family: "Poppins";
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .chart-header {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: bold;
    color:#11395C !important
  }

  .fixed-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height */
    overflow: hidden; /* Prevent scrolling on the whole page */
  }
  
  .fixed-content {
    flex-grow: 1; /* Allow this part to take available space */
    overflow-y: auto; /* Make content scrollable */
    padding-bottom: 20px; /* Adjust padding if needed */
  }
  
  .scrollable-chart {
    overflow-y: auto;
    max-height: 400px; /* Set max height for the chart to allow scrolling */
    padding: 10px;
    margin-top: 20px;
  }

  .modal-header-custom .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .modal-title-text {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: auto; /* Pushes the button away from the label */
  }
  
  .back-button {
    padding: 0.5rem 1rem;
    height: 40px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .modal-header-custom .header-content {
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5rem; /* Adds spacing between items for mobile */
    }
  
    .modal-title-text {
      margin-right: 0; /* Reset margin for mobile */
      text-align: center;
    }
  
    .back-button {
      height: 35px;
      font-size: 14px;
    }
  }

  .modal-dialog:not(.modal-dialog-scrollable) .modal-header {
    padding: 4px 9px!important;
}

.css-11cfq65-MuiTablePagination-displayedRows {
  font-family: "Public Sans" !important;
  margin: 0px !important;

}

.rounded-pill {
  border-radius: var(--bs-border-radius-pill) !important;
  margin: 12px 0px;
}

.even-row {
  background-color: #E2EBF3;
}

.odd-row {
  background-color: #F1F4F8; 
}
  
  
  