.css-1edfpdg-MuiTypography-root {
    font-family: 'Public Sans' !important;
    font-weight: 400;
}
.css-1e061w-MuiFormHelperText-root {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Public Sans' !important;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 14px;
}

.css-1huaqfz-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Public Sans' !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
    display: block;
    transform-origin: top left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 20px) scale(1);
    -moz-transform: translate(0, 20px) scale(1);
    -ms-transform: translate(0, 20px) scale(1);
    transform: translate(0, 20px) scale(1);
    -webkit-transform: translate(0, 17px) scale(1);
    -moz-transform: translate(0, 17px) scale(1);
    -ms-transform: translate(0, 17px) scale(1);
    transform: translate(0, 17px) scale(1);
    -webkit-transform: translate(0, -1.5px) scale(0.75);
    -moz-transform: translate(0, -1.5px) scale(0.75);
    -ms-transform: translate(0, -1.5px) scale(0.75);
    transform: translate(0, -1.5px) scale(0.75);
    transform-origin: top left;
    max-width: 133%;
    -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
    -webkit-transform: translate(14px, 16px) scale(1);
    -moz-transform: translate(14px, 16px) scale(1);
    -ms-transform: translate(14px, 16px) scale(1);
    transform: translate(14px, 16px) scale(1);
    max-width: calc(100% - 24px);
    -webkit-transform: translate(14px, 9px) scale(1);
    -moz-transform: translate(14px, 9px) scale(1);
    -ms-transform: translate(14px, 9px) scale(1);
    transform: translate(14px, 9px) scale(1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
    max-width: calc(133% - 32px);
}

.css-rizt0-MuiTypography-root {
    margin: 0;
    font-family: 'Public Sans' !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.css-hvjq6j-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Public Sans' !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
    display: block;
    transform-origin: top left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 20px) scale(1);
    -moz-transform: translate(0, 20px) scale(1);
    -ms-transform: translate(0, 20px) scale(1);
    transform: translate(0, 20px) scale(1);
    -webkit-transform: translate(0, 17px) scale(1);
    -moz-transform: translate(0, 17px) scale(1);
    -ms-transform: translate(0, 17px) scale(1);
    transform: translate(0, 17px) scale(1);
    -webkit-transform: translate(0, -1.5px) scale(0.75);
    -moz-transform: translate(0, -1.5px) scale(0.75);
    -ms-transform: translate(0, -1.5px) scale(0.75);
    transform: translate(0, -1.5px) scale(0.75);
    transform-origin: top left;
    max-width: 133%;
    -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
    -webkit-transform: translate(14px, 16px) scale(1);
    -moz-transform: translate(14px, 16px) scale(1);
    -ms-transform: translate(14px, 16px) scale(1);
    transform: translate(14px, 16px) scale(1);
    max-width: calc(100% - 24px);
    -webkit-transform: translate(14px, 9px) scale(1);
    -moz-transform: translate(14px, 9px) scale(1);
    -ms-transform: translate(14px, 9px) scale(1);
    transform: translate(14px, 9px) scale(1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: auto;
    max-width: calc(133% - 32px);
    -webkit-transform: translate(14px, -9px) scale(0.75);
    -moz-transform: translate(14px, -9px) scale(0.75);
    -ms-transform: translate(14px, -9px) scale(0.75);
    transform: translate(14px, -9px) scale(0.75);
}

.css-1q55ijt-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding-top: 1px;
    padding: 16.5px 14px;
    padding: 8.5px 14px;
    padding-left: 0;
    font-family: 'Public Sans' !important;
}

.css-12tjcea-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding-top: 1px;
    padding: 16.5px 14px;
    padding: 8.5px 14px;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Public Sans' !important;
}